@page
@{
    ViewBag.Title = "Log";
}
<div class="row">
    <div class="col-12" style="margin:0 auto; padding:50px 100px;">
        <table class="table table-dark table-hover" style="text-align :center; border-radius:3px;">
            <thead>
                <tr>
                    <td scope="col">ID proceso</td>
                    <td scope="col">Fecha de terminación</td>
                </tr>
            </thead>
            <tbody id="contenido"></tbody>
        </table>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/log.js"></script>
